# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Віртуальне середовище
.venv/
venv/
env/
ENV/

що 
# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log файли
*.log
